@using System.Web.Optimization
<!DOCTYPE html>
<html>
	<head>
		<title>CueZero</title>
		
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		
		<meta name="fragment" content="!">
		
		@Styles.Render("~/Content/css")
		@Styles.Render("~/Content/custom")

		<script type="text/javascript">
			if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
				var msViewportStyle = document.createElement("style");
				var mq = "@@-ms-viewport{width:auto!important}";
				msViewportStyle.appendChild(document.createTextNode(mq));
				document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
			}
		</script>
		<script>
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

			ga('create', '@System.Configuration.ConfigurationManager.AppSettings["AnalyticsCode"]', '@System.Configuration.ConfigurationManager.AppSettings["AnalyticsDomain"]');    

		</script>
	</head>
	<body>
		<div class="st-sticky-wrap" id="applicationHost">
			<div class="splash splashbgtrans">
				<div id="reimagined">
					<h1 class="maketextdisappear" style="opacity: 0">The survey, reimagined</h1>
				</div>
				<div class="message">
					<div>
						<h1 class="maketextappear" style="opacity: 0">Hello <b>CueZero</b></h1>
						@*<object data="../Content/images/CueZeroFrontPageOpt.svg" type="image/svg+xml" height="200" />*@
					</div>
					@*<span class="cue">Cue</span><span class="zero">Zero</span>
					<p class="lead">The real-time feedback loop for agile organizations</p>*@
				</div>                
			</div>
		</div>
		
		
		
		@Scripts.Render("~/scripts/vendor")
		
		@*@if(HttpContext.Current.IsDebuggingEnabled) {
			<script type="text/javascript" src="/Scripts/require.js" data-main="/App/main"></script>
		} else {
			<script type="text/javascript" src="/App/main-built.js"></script>	  		
		}*@

		<script type="text/javascript" src="/Scripts/require.js" data-main="/App/main"></script>

	</body>


</html>
